* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: -moz-linear-gradient(100deg, rgb(0, 0, 0), tomato);
}

nav {
  background: linear-gradient(100deg, rgb(0, 0, 0), tomato);
  color: grey;
  border: 1px solid green;
  width: 100%;
  display: flex;
  height: 20%;
}
nav h1 {
  color: violet;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0 auto;
}
nav .integrify-logo {
  border: 1px solid pink;

  height: 50%;
  width: 20%;
  margin: 0 auto;
}
div.card {
  text-align: center;
  color: green;
}
div,
h3,
p {
  text-align: left;
  color: black;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: lightseagreen;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

footer div {
  text-align: center;
  background: linear-gradient(100deg, rgb(0, 0, 0), rgb(71, 255, 132));
}

footer div p,
ul {
  text-align: left;
  background: linear-gradient(100deg, rgb(0, 0, 0), green);
  color: green;
}
