* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: -moz-linear-gradient(100deg, rgb(0, 0, 0), tomato);
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

nav {
  background: linear-gradient(100deg, rgb(0, 0, 0), tomato);
  color: grey;
  border: 1px solid green;
  width: 100%;
  display: flex;
  height: 20%;
}
nav h1 {
  color: violet;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0 auto;
}
nav .integrify-logo {
  border: 1px solid pink;

  height: 50%;
  width: 20%;
  margin: 0 auto;
}
div.card {
  text-align: center;
  color: green;
}
div,
h3,
p {
  text-align: left;
  color: rgb(10, 29, 133);
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}
.contact-title p {
  margin-top: 100px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}
.contact-image {
  width: 50%;
  height: auto;
}
.contact-form {
  text-align: center;
  margin: 0 auto;
}

/* Style the top navigation bar */
.menuBar {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.menuBar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.menuBar a:hover {
  color: green;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: lightseagreen;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .menuBar a {
    float: none;
    width: 100%;
  }
}

footer div {
  text-align: center;
  background: linear-gradient(100deg, rgb(0, 0, 0), rgb(233, 240, 236));
}

footer div p,
ul {
  text-align: left;
  background: linear-gradient(100deg, rgb(0, 0, 0), green);
  color: white;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 22px;
}
